.metrics-container {
  width: 500px;
  height: fit-content;
  position: absolute;
  right: 266px;
  bottom: 5px;
  text-align: right;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.compass-icon {
  display: inline-flex;
  & svg {
    overflow: visible;
    width: 1.25em;
    height: 1.25em;
    top: 0.25em;
    position: relative;
  }
}

.distance-text {
  text-align: right;
}

.heart-text {
  text-align: right;
}

.heading-text {
  text-align: right;
}

.speed-text {
  text-align: right;
}

.altitude-text {
  text-align: right;
}
