.other-container {
  width: 500px;
  height: fit-content;
  position: absolute;
  right: 320px;
  bottom: 5px;
  text-align: right;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.distance-text {
  text-align: right;
}

.heart-text {
  text-align: right;
}

.heading-text {
  text-align: right;
}

.speed-text {
  text-align: right;
}

.altitude-text {
  text-align: right;
}
