.metrics-container {
  bottom: 8px;
  color: #ffffff;
  font-family: 'Blippo', sans-serif;
  font-size: 18px;
  height: fit-content;
  margin-bottom: -5px;
  position: absolute;
  right: 266px;
  text-align: right;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 500px;
}